body{
    background-color: rgb(181, 248, 181);
}
#questionsCounter{
   display: contents;
}
#counter{
    padding: 25px;
    display: inline-block;
   margin: auto;
   margin-bottom:20px ;
   margin-top: 12px;
    font-size: 23px;
    background-color: rgb(181, 248, 181);
    border-radius: 50%;
    border: 4px solid rgb(255, 251, 251);
    outline:10px solid green;
    outline-offset:2px  ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#bar-container{
    width: 400px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 350px;
    margin-top: 10px;
}
#bar{
    width: 0;
    height: 5px;
    background-color: rgb(20, 141, 20);
    border-radius: 20px; 
    transition: width .22s;   
}   
#image{
    display: flex;
    justify-content: left;
    float: left;
    margin-left: 200px;
    margin-top: 130px;
}
img{
    width: 650px;
    height: 500px;
    border-radius: 20px;
    
}
.content{
    background-color: rgb(255 255 255);
    width: 800px;
    height: 500px;
    margin-left: 520px;
 margin-top: 15px;
    border-radius: 20px;
    
}
.content #question p{
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}
.content #answers{
    margin-top: 20px;
    margin-left: 20px;
    

}
.content #answers .answer {
    margin-top: 50px;
    padding: 10px;
    cursor: pointer;


 
}
.content #answers label{
    display: inline-block;
    width: 300px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;

}
#next{
    margin-top: 40px;
    margin-left: 20px;
    padding: 0px 40px ;
    height: 40px;
    background-color: rgb(20, 141, 20);
    color: aliceblue;
    font-weight: bold;
    border-radius:3px ;
    cursor: pointer;
    transition-duration: 300ms;
}
#next:hover{
    background-color: rgb(19, 174, 19);
    padding-right: 50px;
}

#previous{
    margin-top: 40px;
    margin-left: 20px;
    padding: 0px 30px ;
    height: 40px;
    background-color: rgb(20, 141, 20);
    color: aliceblue;
    font-weight: bold;
    border-radius:3px ;
    cursor: pointer;
    display: none;
    transition-duration: 300ms;
}
#previous:hover{
    background-color: rgb(19, 174, 19);
    padding-right: 50px;
}


